<section id="download">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Get the Plugin & Pretrained Models</h2>
                <h3 class="section-subheading text-muted" style="margin-bottom: 30px;">Download the latest version for <b>macOS Apple Silicon</b> and the essential pretrained models to get started.</h3>
                <a href="https://github.com/fcaspe/BraveDemoPluginReleases/releases/download/v1.0.0/BraveDemoPlugin.zip" class="btn btn-xl btn-secondary">Download Plugin</a>
                <a href="https://github.com/fcaspe/BraveDemoPluginReleases/releases/download/v1.0.0/pretrained.zip" class="btn btn-xl btn-secondary">Download Pretrained Models</a>
                <p class="text-muted" style="margin-top: 20px;">
                    Plugin notarized by Apple - Latest update: 6/3/25 - Version 1.0<br>
                    Note: This plugin is currently in beta testing, and there may be bugs or unexpected behavior. Your feedback is appreciated to help improve future versions. If you encounter any issues, please contact us.
                </p>
            </div>
        </div>
    </div>
</section>