<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Rediscover your Voice and Instrument</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-bolt fa-stack-1x fa-inverse"></i> </span>
                <h4 class="service-heading">Instant Live Transformation</h4>
                <p class="text-muted">Experience super-low latency timbre transfer for seamless, on-the-fly timbre transfer as you play.</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-magic fa-stack-1x fa-inverse"></i> </span>
                <h4 class="service-heading">Natural and Intuitive</h4>
                <p class="text-muted">Interact effortlessly with advanced AI models, making complex sound manipulation feel malleable and accomodating.</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-search fa-stack-1x fa-inverse"></i> </span>
                <h4 class="service-heading">Capture what's Important</h4>
                <p class="text-muted">We capture subtle nuances and articulations, translating them into dynamic and expressive sonic output.</p>
            </div>
             <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-microphone fa-stack-1x fa-inverse"></i> </span>
                <h4 class="service-heading">No matter what you play</h4>
                <p class="text-muted">Try enhancing your instrument's capabilities with new sonic dimensions while keeping your unique playing style.</p>
            </div>
        </div>
    </div>
</section>