<section id="instructions" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Instructions</h2>
                <h3 class="section-subheading text-muted">Use your preferred DAW (Digital Audio Workstation), that supports VST3 or AU plugin formats. Each <strong>pretrained model</strong> implements a new sound you can control with your instrument.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <ol style="text-align: left;">
                    <li>Download the plugin to a directory where your <a href='https://higherhz.com/adding-a-new-vst-synth-plugin-to-reaper/' target='_blank' rel='noopener noreferrer'>DAW can see it</a>.</li>
                    <li>Download and uncompress the pretrained models.</li>
                    <li>Open the plugin at your DAW, and select the folder where you stored the models.</li>
                    <li><strong>Done!</strong> The models can now be selected from the GUI's list.</li>
                </ol>
            </div>
        </div>
    </div>
</section>