<section id="train" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="color: white;">Train Your Own Models</h2>
            </div>
        </div>

        In addition to the newly included model architecture, the plugin is also compatible with the original <a href="https://fcaspe.github.io/brave" target="_blank">BRAVE </a> models that you can train yourself!

        <div class="row" style="margin-top: 30px;">
            <div class="col-lg-12 text-center">
                <a href="https://github.com/fcaspe/BRAVE" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-xl">BRAVE Train Instructions</a>
            </div>
        </div>
    </div>
</section>