<section id="videos" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">We are developing new ways for live sound manipulation.</h2>
                <h3 class="section-subheading text-muted mb-5">
                    New tricks for classic instruments.
                </h3>
            </div>
        </div>

        &nbsp;
        &nbsp;

        <!-- First Row (2 videos) -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <h5>Live Beatbox conversion</h5>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mfhidA6t3F8" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6 portfolio-item">
                <h5>Live Voice to Sax & Guitar to Piano</h5>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TU_HDbUniRk" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        &nbsp;
        &nbsp;

        <!-- Second Row (2 new videos) -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <h5>Vocal Morphing</h5>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LekgVDA8ptw" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6 portfolio-item">
                <h5>DX Style E. Piano</h5>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/g3hc5ct-47E" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        &nbsp;
        &nbsp;

        <!-- Third Row (1 centered video) -->
        <div class="row justify-content-center">
            <div class="col-md-8 portfolio-item">
                <h5>Bowed Strings</h5>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nrHOh4IE3Yc" allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </div>
</section>
