<section id="videos" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">We are developing new ways for live sound manipulation.</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
&nbsp;
&nbsp;
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <h5>Live Beatbox conversion</h5>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mfhidA6t3F8" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6 portfolio-item">
                <h5>Live Voice to Sax & Guitar to Piano</h5>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TU_HDbUniRk" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>