// Global styling for this template
body {
  overflow-x: hidden;
  @include heading-font; // Use the same font as the headers
  font-weight: 400;      // Ensure body text is not bold (400 is normal)
  background-color: #000;
  color: #fff;
}
section {
  scroll-margin-top: 80px; // adjust if your navbar is taller/shorter
}
.text-muted {
  color: $gray-500 !important; // or , etc.
}

p {
  line-height: 1.75;
}

a {
  color: #ccc; // Changed link color to light gray for visibility
  &:hover {
    color: #fff; // Links become fully white on hover
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
  // Color will be inherited from the body (white)
}

.page-section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  h3.section-subheading,
  .text-muted {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 75px;
  }
}

@media (max-width: 768px) {
  .page-section h3.section-subheading,
  .page-section .text-muted {
    font-size: 25px;    // smaller for phones
    text-align: left;
    font-weight: 400;   // lighter
  }
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}